<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Registration</title>
</head>
<body>
<table>
    <thead>
    </thead>
    <tr th:if="${people.empty}">
        <td colspan="2"> No Users Available</td>
    </tr>
    <ul th:each="person : ${peoples}">
       Name<li th:text="${person.name}"></li>
        Address<li th:text="${person.shippingAddress}"></li>
        <br>
    </ul>
</table>
</body>
</html>